# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
.pytest_cache/
.mypy_cache/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl

# Secrets
keys/
.env
*.json
!dbt/dbt_project.yml

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Airflow
airflow/logs/

# Spark
spark/*.egg
spark/derby.log
metastore_db/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
